#app .header {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #784f3e;
}

#app .header .logo {
    float: left;
    padding: 1em;
}

#app .header .logo img {
    height: 50px;
}

#app .header .account-buttons {
    float: right;
    padding: 2em;
}

#app .header .account-buttons a {
    color: var(--orange-color);
    font-weight: bold;
}