#form-survey { 
    padding: 2em;
}

#theme-survey .tab p {
  color: var(--orange-color-lighter);
}

#theme-survey .tab {
  display: none;
}

#theme-survey .tab.active {
  display: block;
} 

#theme-survey button {
  background-color: var(--orange-color);
  color: #000;
  border: none;
  padding: 0.5em 1em;  
  cursor: pointer;
  border-radius: 8px;
}

#theme-survey button:hover {
  opacity: 0.8;
}

#theme-survey #prevBtn {
  background-color: var(--orange-color-lighter);
}

#theme-survey .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--orange-color);
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

#theme-survey .step.active {
  opacity: 1;
}

#theme-survey {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%,-45%);
    transform: translate(-50%,-45%);
    width: 100%;
    padding: 0em 1em;
}

#theme-survey label {
    position: relative;
    margin-bottom: 1em;
    display: block;
    width: 100%;
    padding-right: 2em;
    padding-left: 2em;
}

#theme-survey .label-title {
    margin-left: 2em;
    color: var(--orange-color);
}

#theme-survey input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
#theme-survey .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--orange-color-lighter);
    border-radius: 50%;
}
  
#theme-survey:hover input ~ .checkmark {
    background-color: var(--orange-color-lighter);
}
  
#theme-survey input:checked ~ .checkmark {
    background-color: var(--orange-color);
}

#theme-survey .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
#theme-survey input:checked ~ .checkmark:after {
    display: block;
}
  
#theme-survey .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

#theme-survey .action-buttons {
    margin-top: 4em;
    text-align: right;
}

#theme-survey #submitBtn {
  display: none;
}

@media (max-width: 767px) {
  #form-survey {
    padding: 0.5em;
  }
}